<div class="catalog-container">
  <div *ngFor="let category of categories">
    <table border="1">
      <thead>
        <tr>
          <th colspan="2">Ma Danh Muc</th>
          <th colspan="2">Ten Danh Muc</th>
        </tr>
        <tr>
          <td colspan="2">{{ category.CateId }}</td>
          <td colspan="2">{{ category.CateName }}</td>
        </tr>
        <tr>
          <th>Ma San Pham</th>
          <th>Ten San Pham</th>
          <th>Gia San Pham</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of category.Products">
          <td>{{ product.ProductId }}</td>
          <td>{{ product.ProductName }}</td>
          <td>{{ product.Price }}</td>
          <td class="image-cell">
            <img [src]="product.Image" [alt]="product.ProductName">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>