<p>list-customer3 works!</p>
From Age:
<select #fromage>
    <option *ngFor="let a of arr_ages" [value]="a">{{a}}</option>
</select>
To Age:
<select #toage>
    <option *ngFor="let a of arr_ages" [value]="a">{{a}}</option>
</select>
<button (click)="do_filter(fromage.value, toage.value)">Filter</button>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Picture</th>
        </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of customers">
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.age}}</td>
    <td>
        <img src="{{c.picture}}" width="100" height="100"/>
    </td>
  </tr>
  </tbody>
</table>

